systems {
  aarch64-darwin
  x86_64-linux
}

packages {
  libclang lib
  nix dev
  pkg-config-unwrapped out
}

env {
  LIBCLANG_PATH "{libclang.lib}/lib"
}

caches {
  "https://nix-community.cachix.org"
  public-keys {
    "nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs="
  }
}

system linux {
  packages {
    git out
    mercurial
  }
}
