packages {
  a
  b resolver=c
  d resolver=e
}

hydra default {
  base f
  project g
  jobset h
}

hydra c {
  base i
  project j
  jobset k
  job l
}

system darwin {
  hydra e {
    base darwin-m
    project darwin-n
    jobset darwin-o
    job darwin-p
  }
}

system linux {
  hydra e {
    base linux-m
    project linux-n
    jobset linux-o
    job linux-p
  }
}
